.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Saira Semi Condensed", sans-serif;
  color: #424a57;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 25px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-mobile-menu__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/hamburger-icon_white.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.logo__link-img {
  width: 48px;
  height: 60px;
}

.header__navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: none;
  }
  .header__navigation-list {
    display: flex;
  }
  .header__navigation-item:not(:last-child) {
    margin-right: 15px;
  }
  .header__navigation-link {
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.2em;
    transition: all 400ms;
  }
  .header__navigation-link:hover, .header__navigation-link:focus {
    color: #b50c11;
    font-size: 12px;
    font-weight: 600;
  }
  .header__navigation-link--home,
  .header__navigation-link--live,
  .header__navigation-link--podcasts,
  .header__navigation-link--events,
  .header__navigation-link--schedule,
  .header__navigation-link--guests,
  .header__navigation-link--partners {
    color: #b50c11;
    font-weight: 800;
    letter-spacing: 0.25em;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation-item:not(:last-child) {
    margin-right: 25px;
  }
  .header__navigation-link {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3em;
    transition: all 400ms;
  }
  .header__navigation-link:hover, .header__navigation-link:focus {
    color: #b50c11;
    font-weight: 700;
    letter-spacing: 0.4em;
  }
  .header__navigation-link--home,
  .header__navigation-link--live,
  .header__navigation-link--podcasts,
  .header__navigation-link--events,
  .header__navigation-link--schedule,
  .header__navigation-link--guests,
  .header__navigation-link--partners {
    color: #b50c11;
    font-weight: 800;
    letter-spacing: 0.25em;
  }
}

.footer__logo {
  width: 75px;
  margin-right: 30px;
}

.footer-item:nth-child(1) {
  margin-bottom: 10px;
}

.footer-link {
  color: #d1d1d1;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  transition: color 250ms;
}

.footer-link:hover, .footer-link:focus {
  color: #b50c11;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  border: none;
  background: transparent;
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  color: #b50c11;
}

.mobile-menu__list {
  padding-top: 30px;
}

.mobile-menu__item {
  margin-bottom: 20px;
}

.mobile-menu__link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5em;
  font-weight: 500;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #b50c11;
  margin-left: 10px;
}

.go-top-space {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.go-top {
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #b50c11;
  opacity: 0.3;
  transition: all 250ms;
}

.go-top:hover, .go-top:focus {
  opacity: 1;
}

.header {
  border-bottom: 1px solid #b50c11;
  background-color: black;
  margin-bottom: 30px;
}

.header .container {
  padding: 0 20px;
  height: 60px;
}

.hero {
  background-color: black;
}

.hero .container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.news .container {
  padding: 40px 0;
  text-align: center;
}

.about {
  background-color: black;
}

.about .container {
  padding: 40px 10px;
  margin-bottom: 40px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/about_us_mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/about_us_mini@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .about .container {
    padding: 40px 15px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/mobile/about_us_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .about .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/mobile/about_us_mobile@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .about .container {
    padding: 40px 20px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/tablet/about_us_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/tablet/about_us_tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .about .container {
    padding: 40px 25px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/desktop/about_us_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about_us/desktop/about_us_desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.footer {
  background-color: black;
}

.footer .container {
  background-image: url(../images/footer/footer_mini.jpg);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 150px;
  padding: 40px 15px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer .container {
    background-image: url(../images/footer/footer_mini@2x.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 15px;
  }
}

@media screen and (min-width: 480px) {
  .footer .container {
    background-image: url(../images/footer/mobile/footer_mobile.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .footer .container {
    background-image: url(../images/footer/mobile/footer_mobile@2x.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    background-image: url(../../images/footer/tablet/microphone_bg_footer_tablet.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 15px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer .container {
    background-image: url(../images/footer/tablet/microphone_bg_footer_tablet@2x.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    background-image: url(../images/footer/desktop/microphone_bg_footer_desktop.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 15px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .footer .container {
    background-image: url(../images/footer/desktop/microphone_bg_footer_desktop@2x.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 150px;
    padding: 40px 15px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 340px;
  height: 600px;
  background-color: black;
  background-image: url(../images/mobile_menu/mobile_bg_w350.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #b50c11;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url(../images/mobile_menu/mobile_bg_w700.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.live .container {
  padding: 40px 0;
  text-align: center;
  width: 350px;
}

.nav-podcast .container {
  min-height: 266px;
  padding: 40px 10px;
  margin-bottom: 40px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/mini/podcasts_nav_bg_mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .nav-podcast .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/mini/podcasts_nav_bg_mini@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .nav-podcast .container {
    min-height: 365px;
    padding: 60px 15px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/mobile/podcasts_nav_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .nav-podcast .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/mobile/podcasts_nav_bg_mobile@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .nav-podcast .container {
    min-height: 450px;
    padding: 80px 60px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/tablet/podcasts_nav_bg_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .nav-podcast .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/tablet/podcasts_nav_bg_tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .nav-podcast .container {
    min-height: 500px;
    padding: 100px 150px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/desktop/podcasts_nav_bg_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .nav-podcast .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/podcasts/navigation/desktop/podcasts_nav_bg_desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.podcasts .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.kama .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.film-broadcast .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.blokblog .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.nav-events .container {
  min-height: 233px;
  padding: 40px 10px;
  margin-bottom: 40px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/mini/events_nav_bg_mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .nav-events .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/mini/events_nav_bg_mini@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .nav-events .container {
    min-height: 320px;
    padding: 40px 15px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/mobile/events_nav_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .nav-events .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/mobile/events_nav_bg_mobile@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .nav-events .container {
    min-height: 450px;
    padding: 80px 60px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/tablet/events_nav_bg_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .nav-events .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/tablet/events_nav_bg_tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .nav-events .container {
    min-height: 700px;
    padding: 100px 150px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/desktop/events_nav_bg_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .nav-events .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/events/desktop/events_nav_bg_desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.events-next .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.events-past .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.guests .container {
  padding: 40px 0;
  text-align: center;
  width: 350px;
}

@media screen and (min-width: 768px) {
  .guests .container {
    padding: 40px 0;
    text-align: center;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .guests .container {
    padding: 40px 0;
    text-align: center;
    width: 1200px;
  }
}

.schedule-nav .container {
  min-height: 247px;
  padding: 10px 10px;
  margin-bottom: 40px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/mini/schedule_nav_mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .schedule-nav .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/mini/schedule_nav_mini@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .schedule-nav .container {
    min-height: 300px;
    padding: 30px 15px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/mobile/schedule_nav_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .schedule-nav .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/mobile/schedule_nav_mobile@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .schedule-nav .container {
    min-height: 400px;
    padding: 40px 20px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/tablet/schedule_nav_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .schedule-nav .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/tablet/schedule_nav_tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .schedule-nav .container {
    min-height: 400px;
    padding: 40px 25px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/desktop/schedule_nav_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .schedule-nav .container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/schedule/desktop/schedule_nav_desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.schedule-week .container {
  width: 350px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .schedule-week .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .schedule-week .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .schedule-week .container {
    width: 1200px;
  }
}

.news__last-podcasts,
.news__last-events {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.news__headers {
  padding-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__headers::after, .news__headers::before {
  content: "";
  height: 1px;
  width: 30px;
  background-color: black;
}

.news__item {
  margin-bottom: 15px;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
  padding-bottom: 5px;
}

.news__item:hover, .news__item:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #b50c11;
  -moz-box-shadow: 2px 5px 16px -6px #b50c11;
  box-shadow: 2px 5px 16px -6px #b50c11;
}

.news__video-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.news__video-description {
  padding-bottom: 5px;
  line-height: 1.5;
  color: #757575;
}

.news__btn {
  width: 350px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #b50c11;
  transition: color 500ms, background-color 500ms;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
}

.news__btn:hover, .news__btn:focus {
  color: white;
  background-color: #b50c11;
  border: none;
}

.news__btn-title--link {
  display: block;
  width: 100%;
  color: #b50c11;
  transition: color 500ms;
}

.news__btn-title--link:hover, .news__btn-title--link:focus {
  color: white;
}

@media screen and (min-width: 768px) {
  .news__headers {
    width: 400px;
    margin: 0 auto;
  }
  .news__last-podcasts,
  .news__last-events {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
  }
  .news__item {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .news__last-podcasts,
  .news__last-events {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .news__item:last-child {
    display: none;
  }
}

.about__header-space {
  margin-bottom: 40px;
}

.about__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  margin: 0 auto;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
}

.about__header::after, .about__header::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background-color: #b50c11;
}

.about__description-header {
  margin: 15px auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
}

.about__description-schort {
  color: #f0f6ff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 15px;
}

.about__description-long {
  color: #d1d1d1;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .about__description-header {
    margin: 25px auto;
    letter-spacing: 0.3em;
  }
  .about__description-schort {
    width: 500px;
    margin: 0 auto;
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .about__description-long {
    margin: 0 auto;
    width: 900px;
    color: #d1d1d1;
    line-height: 1.5;
    letter-spacing: 0.15em;
  }
}

.about__data-contact {
  margin-bottom: 30px;
}

.about__data-contact-header {
  color: #f0f6ff;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.about__data-contact-item {
  text-align: left;
  margin-bottom: 6px;
}

.about__data-contact-item:nth-child(1) {
  margin-left: 40px;
}

.about__data-contact-item:nth-child(2) {
  margin-left: 100px;
}

.about__data-contact-item:nth-child(3) {
  margin-left: 160px;
}

.about__data-contact-item-header {
  color: white;
  letter-spacing: 00.1em;
}

.about__data-contact-item-link {
  color: #d1d1d1;
  font-size: 12px;
  letter-spacing: 0.2em;
  transition: all 250ms;
}

.about__data-contact-item-link:hover, .about__data-contact-item-link:focus {
  color: #b50c11;
}

.about__form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about__contact {
    display: flex;
    justify-content: center;
  }
  .about__data-contact-header {
    padding-bottom: 25px;
  }
  .about__data-contact-item {
    text-align: left;
    margin-bottom: 6px;
  }
  .about__data-contact-item:nth-child(1) {
    margin-left: 0;
  }
  .about__data-contact-item:nth-child(2) {
    margin-left: 0;
  }
  .about__data-contact-item:nth-child(3) {
    margin-left: 0;
  }
  .about__data-contact-list {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .about__data-contact-list {
    margin-right: 150px;
  }
  .about__data-contact-item {
    margin-bottom: 20px;
  }
}

.about__form-email-label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.about__form-title {
  text-align: left;
  margin-bottom: 3px;
  color: #f0f6ff;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
}

.about__form-email-input {
  background-color: #424a578c;
  border: 1px solid #424a57;
  border-radius: 4px;
  color: #f0f6ff;
  font-size: 12px;
  letter-spacing: 0.15em;
  transition: border-color 500ms;
  margin-bottom: 15px;
}

.about__form-email-input:hover, .about__form-email-input:focus {
  border-color: #b50c11;
}

.about__textarea-label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.about__form-textarea {
  background-color: #424a578c;
  border: 1px solid #424a57;
  border-radius: 4px;
  color: #f0f6ff;
  font-size: 12px;
  letter-spacing: 0.15em;
  transition: border-color 500ms;
  height: 60px;
  margin-bottom: 15px;
}

.about__form-textarea:hover, .about__form-textarea:focus {
  border-color: #b50c11;
}

.about__form-btn {
  margin: 0 auto;
  width: 300px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #b50c11;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: color 500ms, background-color 500ms;
}

.about__form-btn:hover, .about__form-btn:focus {
  color: white;
  background-color: #b50c11;
  border: none;
}

@media screen and (min-width: 1200px) {
  .about__form-textarea {
    height: 100px;
  }
}

.live__header {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 100px;
  background-color: black;
  color: white;
  border: 1px solid #b50c11;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.live__header::after, .live__header::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #b50c11;
}

.live__title {
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 0.15em;
  line-height: 1.5;
}

.live__space {
  margin-bottom: 15px;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
  min-height: 197px;
}

.live__space:hover, .live__space:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #b50c11;
  -moz-box-shadow: 2px 5px 16px -6px #b50c11;
  box-shadow: 2px 5px 16px -6px #b50c11;
}

.live__alternative-text {
  font-size: 20px;
  letter-spacing: 0.15em;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 50px;
}

.live__video {
  display: block;
}

.nav-podcast__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  line-height: 2.4;
  font-weight: 500;
  transition: all 500ms;
}

.nav-podcast__item::after, .nav-podcast__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #f0f6ff;
}

.nav-podcast__item:hover, .nav-podcast__item:focus {
  margin-left: 30px;
  margin-right: 30px;
}

.nav-podcast__link {
  color: #f0f6ff;
  transition: all 250ms;
}

.nav-podcast__link:hover, .nav-podcast__link:focus {
  color: #b50c11;
}

@media screen and (min-width: 768px) {
  .nav-podcast__item {
    font-size: 18px;
    line-height: 2.8;
    letter-spacing: 0.25em;
  }
}

@media screen and (min-width: 1200px) {
  .nav-podcast__item {
    font-size: 22px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.25em;
    border: 1px solid #424a57;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: all 800ms;
  }
  .nav-podcast__item:hover, .nav-podcast__item:focus {
    margin-left: 100px;
    margin-right: 100px;
  }
  .nav-podcast__item:hover::after, .nav-podcast__item:hover::before, .nav-podcast__item:focus::after, .nav-podcast__item:focus::before {
    margin: 0 50px;
  }
}

.podcasts__space {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.podcasts__header {
  padding-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcasts__header::after, .podcasts__header::before {
  content: "";
  height: 1px;
  width: 30px;
  background-color: black;
}

.podcasts__item {
  margin-bottom: 15px;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
  padding-bottom: 5px;
}

.podcasts__item:hover, .podcasts__item:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #b50c11;
  -moz-box-shadow: 2px 5px 16px -6px #b50c11;
  box-shadow: 2px 5px 16px -6px #b50c11;
}

.podcasts__video-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.podcasts__video-description {
  padding-bottom: 5px;
  line-height: 1.5;
  color: #757575;
}

.podcasts__btn {
  width: 350px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #b50c11;
  transition: color 500ms, background-color 500ms;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
}

.podcasts__btn:hover, .podcasts__btn:focus {
  color: white;
  background-color: #b50c11;
  border: none;
}

@media screen and (min-width: 768px) {
  .podcasts__header {
    width: 400px;
    margin: 0 auto;
  }
  .podcasts__space {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .podcasts__list {
    display: flex;
    flex-wrap: wrap;
  }
  .podcasts__item {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .podcasts__space {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .podcasts__item:last-child {
    display: none;
  }
}

.nav-events__header {
  margin-bottom: 25px;
  color: #d1d1d1;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 2.4;
  font-weight: 600;
}

.nav-events__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 2.4;
  font-weight: 500;
  transition: all 500ms;
}

.nav-events__item::after, .nav-events__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #f0f6ff;
}

.nav-events__item:hover, .nav-events__item:focus {
  margin-left: 30px;
  margin-right: 30px;
}

.nav-events__link {
  color: #f0f6ff;
  transition: all 250ms;
}

.nav-events__link:hover, .nav-events__link:focus {
  color: #b50c11;
  letter-spacing: 0.3em;
}

@media screen and (min-width: 768px) {
  .nav-events__item {
    font-size: 18px;
    line-height: 2.8;
    letter-spacing: 0.25em;
  }
}

@media screen and (min-width: 1200px) {
  .nav-events__item {
    font-size: 22px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.25em;
    border: 1px solid #424a57;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: all 800ms;
  }
  .nav-events__item:hover, .nav-events__item:focus {
    margin-left: 100px;
    margin-right: 100px;
  }
  .nav-events__item:hover::after, .nav-events__item:hover::before, .nav-events__item:focus::after, .nav-events__item:focus::before {
    margin: 0 50px;
  }
}

.events-next__space,
.events-past__space {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.events-next__header,
.events-past__header {
  padding-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-next__header::after, .events-next__header::before,
.events-past__header::after,
.events-past__header::before {
  content: "";
  height: 1px;
  width: 30px;
  background-color: black;
}

.events-next__item,
.events-past__item {
  margin-bottom: 15px;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
  padding-bottom: 5px;
}

.events-next__item:hover, .events-next__item:focus,
.events-past__item:hover,
.events-past__item:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #b50c11;
  -moz-box-shadow: 2px 5px 16px -6px #b50c11;
  box-shadow: 2px 5px 16px -6px #b50c11;
}

.events-next__video-header,
.events-past__video-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.events-next__video-description,
.events-past__video-description {
  padding-bottom: 5px;
  line-height: 1.5;
  color: #757575;
}

.events-past__btn {
  width: 350px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #b50c11;
  transition: color 500ms, background-color 500ms;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
}

.events-past__btn:hover, .events-past__btn:focus {
  color: white;
  background-color: #b50c11;
  border: none;
}

@media screen and (min-width: 768px) {
  .events-next__header,
  .events-past__header {
    width: 400px;
    margin: 0 auto;
  }
  .events-next__space,
  .events-past__space {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .events-next__list,
  .events-past__list {
    display: flex;
    flex-wrap: wrap;
  }
  .events-next__item,
  .events-past__item {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .events-next__space {
    padding-top: 60px;
  }
  .events-next__space,
  .events-past__space {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .events-past__item:last-child {
    display: none;
  }
}

.guests__header {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 100px;
  background-color: black;
  color: white;
  border: 1px solid #b50c11;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.guests__header::after, .guests__header::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #b50c11;
}

.guests__title {
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 0.15em;
  line-height: 1.5;
}

.guests__space {
  margin-bottom: 15px;
  border: 1px solid #b7bec9;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
  padding-bottom: 15px;
}

.guests__space:hover, .guests__space:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #b50c11;
  -moz-box-shadow: 2px 5px 16px -6px #b50c11;
  box-shadow: 2px 5px 16px -6px #b50c11;
}

.guests__personal {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.guests__info {
  padding-bottom: 5px;
  line-height: 1.5;
  color: #757575;
}

.guests__link {
  color: #b50c11;
  letter-spacing: 0.1em;
  opacity: 0.5;
  transition: all 250ms;
}

.guests__link:hover, .guests__link:focus {
  opacity: 1;
  text-decoration: underline;
  letter-spacing: 0.15em;
}

@media screen and (min-width: 768px) {
  .guests__header {
    width: 450px;
    height: 150px;
  }
  .guests__space {
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .guests__description-space {
    width: 300px;
    margin-left: 30px;
  }
  .guests__personal {
    margin-bottom: 30px;
  }
  .guests__info {
    margin-bottom: 30px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .guests__space--1 {
    margin-top: 100px;
    margin-left: 40px;
  }
  .guests__space--3 {
    margin-right: 40px;
  }
}

.schedule-nav__header {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.schedule-nav__header::after, .schedule-nav__header::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #b50c11;
}

.schedule-nav__link {
  color: #d1d1d1;
  letter-spacing: 0.15em;
  line-height: 1.4;
  transition: all 500ms;
}

.schedule-nav__link:hover, .schedule-nav__link:focus {
  color: #b50c11;
  letter-spacing: 0.3em;
  font-weight: 600;
}

.schedule__day {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  min-height: 300px;
  background-color: black;
  border: 2px solid #b50c11;
  border-radius: 6px;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
}

.schedule__day-header {
  padding-top: 15px;
  margin-bottom: 10px;
  color: #f0f6ff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.schedule__day-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 180px;
  height: 70px;
  border-bottom: 1px solid #b50c11;
}

.schedule__day-time,
.schedule__day-event {
  color: #d1d1d1;
  letter-spacing: 0.15em;
}

@media screen and (min-width: 480px) {
  .go-top-space {
    display: none;
  }
  .schedule-week__wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .schedule-week__wrap {
    display: flex;
    flex-wrap: nowrap;
  }
  .schedule__day {
    width: 160px;
    margin-right: 5px;
  }
  .schedule__day-header {
    font-size: 18px;
  }
  .schedule__day-item {
    width: 140px;
  }
  .schedule__day-time,
  .schedule__day-event {
    font-size: 12px;
    letter-spacing: 0.25em;
    font-weight: 500;
  }
}
/*# sourceMappingURL=main.css.map */