:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* ===========HEADER============  */

.header {
  /* margin: 0 auto; */
  justify-content: center;
}

.header .container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  /* text-align: center;
  justify-content: center; */
  /* padding-left: 30px;
  padding-right: 100px; */
}

.header-navigation {
  text-align: center;
 }

.header-navigation-list {
  display: flex;
  width: 1120px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.header-navigation-item:not(:last-child) {
  margin-right: 30px;
}

.navigation-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #424a57;
  transition: color 500ms linear, font-size 500ms;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #b50c11;
  font-size: 13px;
  text-decoration-line: underline;
  /* border: 1px solid #b50c11; */
  /* font-weight: bold; */
}

.header-player {
  /* position: fixed; */
  display: flex;
  margin: 0;
  width: 1120px;
  height: 51px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #1b1b1b;
  color: #d9d9d9;
}



/* =========END HEADER==========  */

/* =============MAIN============ */

/* ---HERO--- */

.hero .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  /* padding-bottom: 50px; */
  border-top: 1px solid #b50c11;
}
/* .hero {
  background-color: black;
} */

/* ---END HERO--- */

/* ---NEWS--- */

.news .container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  /* align-items: center; */
  background-color: #dadada2a;
  padding-top: 60px;
}

.last-podcasts,
.last-events,
.last-films {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.last-podcasts-header,
.last-events-header,
.last-films-header {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  align-items: center;
}
.last-podcasts-header::before,
.last-events-header::before,
.last-films-header::before {
  content: "";
  display: flex;
  height: 1px;
  width: 60px;
  background-color: black;
  align-items: center;
  margin-right: 50px;
}
.last-podcasts-header::after,
.last-events-header::after,
.last-films-header::after {
  content: "";
  display: flex;
  height: 1px;
  width: 60px;
  background-color: black;
  align-items: center;
  margin-left: 50px;
}

.last-podcasts-list,
.last-events-list,
.last-films-list {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-bottom: 10px;
}

.news-video-space {
  /* box-sizing: border-box; */
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  -webkit-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  overflow: hidden;
  transition: all 500ms;
}
.last-podcasts-item:not(:last-child),
.last-events-item:not(:last-child),
.last-films-item:not(:last-child) {
  margin-right: 25px;
}

.news-video-space:hover {
  -webkit-box-shadow: 2px 5px 16px -6px rgba(181, 12, 17, 1);
-moz-box-shadow: 2px 5px 16px -6px rgba(181, 12, 17, 1);
box-shadow: 2px 5px 16px -6px rgba(181, 12, 17, 1);
}

.news-video-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.news-video-description {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 15px 5px;
  /* margin-top: 5px;
  margin-left: 5px; */
  max-width: 340px;
}

.news-btn {
  width: 1100px;
  height: 25px;
  border-radius: 4px;  
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  color: #b50c11;
  background-color: #1b1b1b ;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 15);
  margin-bottom: 80px;
  border: none;
  transition: background-color 500ms, color 500ms, box-shadow 500ms;
}

.news-btn:hover,
.news-btn:focus {
  background-color: #b50c11;
  color: #dadada;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 15);
}

/* ---END NEWS--- */

/* ---ABOUT US--- */

.about .container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/background_img_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 20px 15px;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
justify-content: center;
}

.about-header-title {
  color: #b50c11;
    display: flex;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 60px;
}

.about-header-title::before {
  content: "";
  display: flex;
  height: 1px;
  width: 60px;
  background-color: #b50c11;
  align-items: center;
  margin-right: 50px;
}
.about-header-title::after {
  content: "";
  display: flex;
  height: 1px;
  width: 60px;
  background-color: #b50c11;
  align-items: center;
  margin-left: 50px;
}

.about-description-header {
  color: #d9d9d9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

.about-description-schort {
  color: #d9d9d9;
  width: 30%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

.about-description-long {
  color: #dadada;
  width: 60%;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.about-contact {
  display: flex;
}

.about-contact-form-header {
  color: #d9d9d9;
  font-size: 16px;
  line-height: 1.143;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.form-content {
  background-color: #424a578c;
  color: #d9d9d9;
  border-color: #b50c11;
  margin-bottom: 10px;
  margin-right: 50px;
}

.form-input {
  background-color: #424a57;
  border: none;
  color: #d9d9d9;
}
.form-input:hover,
.form-input:focus {
  background-color: transparent;
  color: #b50c11;
}

.aboute-right-header {
  color: #d9d9d9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.143;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.aboute-right-link {
  color: #8e8e8e;
  width: 60%;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 300ms;
}

.aboute-right-link:hover,
.aboute-right-link:focus {
  color: #b50c11;
}

/* ---END ABOUT US--- */

/* ============END MAIN========= */


/* ============FOOTER============  */

.footer .container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 1200px;
  height: 150px;
  background-color: black;
  background-image: linear-gradient(
        rgba(47, 48, 58, 0.6),
        rgba(47, 48, 58, 0.6)),
    url(../images/footer1200x150.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.footer-logo {
  margin-right: 30px;
}

.footer-adress {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-link {
  color: #8e8e8e;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 300ms, font-size 1000ms;
}

.footer-link:hover,
.footer-link:focus {
  color: #b50c11;
  font-size: 16px;
}

/* ==========END FOOTER===========  */