.nav-events__header {
  margin-bottom: 25px;
  color: $color-font-theme2;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 2.4;
  font-weight: 600;
}

.nav-events__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 2.4;
  font-weight: 500;
  transition: all 500ms;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 30px; 
    height: 1px;
    background-color: $color-font-theme1;
  }
  &:hover,
  &:focus {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.nav-events__link {
  color: $color-font-theme1;
  transition: all 250ms;
  &:hover,
  &:focus {
    color: $main-color;
    letter-spacing: 0.3em;
  }
}

// ---------------------768-----------------------
@media screen and (min-width: 768px) {
  .nav-events__item {
    font-size: 18px;
    line-height: 2.8;
    letter-spacing: 0.25em;
  }
}

// ---------------------1200-----------------------
@media screen and (min-width: 1200px) {
  .nav-events__item {
    @include navListHero;
  }
}