
.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50% , 0);
  width: 400px;
  height: 600px;
  background-image: url(../images/mobile_bg_w350.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid $main-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}