
.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50% , 0);
  width: 340px;
  height: 600px;
  background-color: $secondary-color;
  background-image: url(../images/mobile_menu/mobile_bg_w350.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid $main-color;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .mobile-menu {
      background-image: url(../images/mobile_menu/mobile_bg_w700.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}