.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-mobile-menu__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/hamburger-icon_white.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.logo__link-img {
  width: 48px;
  height: 60px;
}