.podcasts .container {
  padding-bottom: 40px;
  text-align: center;
}

.kama .container {
  padding-bottom: 40px;
  text-align: center;
}

.film-broadcast .container {
  padding-bottom: 40px;
  text-align: center;
}

.blokblog .container {
  padding-bottom: 40px;
  text-align: center;
}