.podcasts .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.kama .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.film-broadcast .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.blokblog .container {
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}