.nav-podcast__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  line-height: 2.4;
  font-weight: 500;
  transition: all 500ms;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 30px; 
    height: 1px;
    background-color: $color-font-theme1;
  }
  &:hover,
  &:focus {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.nav-podcast__link {
  color: $color-font-theme1;
  transition: all 250ms;
  &:hover,
  &:focus {
    color: $main-color;
  }
}

.go-top-space {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.go-top {
  font-size: 11px;
  letter-spacing: 0.2em;
  color: $main-color;
  opacity: 0.3;
  transition: all 250ms;
  &:hover,
  &:focus {
    opacity: 1;
  }
}
