.schedule-nav__header {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 50px;
  color: $third-rate-color;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: $main-color;
  }
}

.schedule-nav__link {
  color: $color-font-theme2;
  letter-spacing: 0.15em;
  line-height: 1.4;
  transition: all 500ms;
  &:hover,
  &:focus {
    color: $main-color;
    letter-spacing: 0.3em;
    font-weight: 600;
  }
}

// ---------------------1200-----------------------
@media screen and (min-width: 1200px) {
  .schedule-nav__header {
    width: 600px;
    height: 100px;
    letter-spacing: 0.4em;
    font-weight: 600;
    font-size: 26px;
  }

  .schedule-nav__link {
    display: none;
  }
}