@mixin sectionHeader {
  padding-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
    &::after,
    &::before {
      content: "";
      height: 1px;
      width: 30px;
      background-color: $secondary-color;
    }
}

@mixin newsItem {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border: 1px solid $color-theme4;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  transition: all 500ms;
    &:hover,
    &:focus {
      -webkit-box-shadow: 2px 5px 16px -6px rgba(181, 12, 17, 1);
      -moz-box-shadow: 2px 5px 16px -6px rgba(181, 12, 17, 1);
      box-shadow: 2px 5px 16px -6px rgba(181, 12, 17, 1);
    }
}

@mixin schadowBtn {
  -webkit-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
}

