$main-font: 'Saira Semi Condensed', sans-serif;
$secondary-font: 'Roboto Mono', monospace;

$main-color: #b50c11;
$secondary-color: black;
$third-rate-color: white;

$color-theme1: #424a57;
$color-theme2: #757575;
$color-theme3: #424a578c;