$main-font: 'Saira Semi Condensed', sans-serif;
$secondary-font: 'Roboto Mono', monospace;

$main-color: #b50c11;
$secondary-color: black;
$third-rate-color: white;

$color-font-theme1: #f0f6ff;
$color-font-theme2: #d1d1d1;

$color-theme1: #424a57;
$color-theme2: #757575;
$color-theme3: #424a578c;
$color-theme4: #b7bec9;