$main-font: 'Saira Semi Condensed' sans-serif, 'Rajdhani' sans-serif;
$secondary-font: 'Roboto Mono' monospace, 'Roboto' sans-serif;

$main-color: #b50c11;
$secondary-color: black;
$third-rate-color: white;
$dark-grey-theme-color: #424a57;
$light-grey-theme-color: #757575;
$form-background-color: #424a578c;