
.nav-events .container {
  min-height: 233px;
  padding: 40px 10px;
  margin-bottom: 40px;
  text-align: center;
  background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/events/mini/events_nav_bg_mini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .nav-events .container {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/events/mini/events_nav_bg_mini@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

// ---------------------480-----------------------
@media screen and (min-width: 480px) {
  .nav-events .container {
    min-height: 320px;
    padding: 40px 15px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
      url(../images/events/mobile/events_nav_bg_mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .nav-events .container {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/events/mobile/events_nav_bg_mobile@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
}

// ---------------------768-----------------------
@media screen and (min-width: 768px) {
  .nav-events .container {
    min-height: 450px;
    padding: 80px 60px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
      url(../images/events/tablet/events_nav_bg_tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .nav-events .container {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/events/tablet/events_nav_bg_tablet@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
}

// ---------------------1200-----------------------
@media screen and (min-width: 1200px) {
  .nav-events .container {
    min-height: 700px;
    padding: 100px 150px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
      url(../images/events/desktop/events_nav_bg_desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .nav-events .container {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/events/desktop/events_nav_bg_desktop@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
}